In [1]:
import pandas as pd
import numpy as np

In [15]:
def missing_values_analysis(df):
    na_columns_ = [col for col in df.columns if df[col].isnull().sum() > 0]
    n_miss = df[na_columns_].isnull().sum().sort_values(ascending=False)
    ratio_ = (df[na_columns_].isnull().sum() / df.shape[0] * 100).sort_values(ascending=False)
    missing_df = pd.concat([n_miss, np.round(ratio_, 2)], axis=1, keys=['Total Missing Values', 'Ratio'])
    missing_df = pd.DataFrame(missing_df).sort_values(by="Ratio", ascending=False)
    return missing_df


def check_df(dataframe, head=5, tail=5):
    print("*" * 70)
    print(" Shape ".center(70, "*"))
    print("*" * 70)
    print(dataframe.shape)

    print("*" * 70)
    print(" Types ".center(70, "*"))
    print("*" * 70)
    print(dataframe.dtypes)

    print("*" * 70)
    print(" Head ".center(70, "*"))
    print("*" * 70)
    print(dataframe.head(head))

    print("*" * 70)
    print(" Tail ".center(70, "*"))
    print("*" * 70)
    print(dataframe.tail(tail))

    print("*" * 70)
    print(" NA ".center(70, "*"))
    print("*" * 70)
    print(missing_values_analysis(dataframe))

    print("*" * 70)
    print(" Quantiles ".center(70, "*"))
    print("*" * 70)
    print(dataframe.describe([.01, .05, .1, .5, .9, .95, .99]).T)

    print("*" * 70)
    print(" Duplicate Rows ".center(70, "*"))
    print("*" * 70)
    print(dataframe.duplicated().sum())

    print("*" * 70)
    print(" Uniques ".center(70, "*"))
    print("*" * 70)
    print(dataframe.nunique())

In [2]:
train = pd.read_csv("./train_user_lang_work_skill_education.csv")

In [3]:
test = pd.read_csv("./test_user_lang_work_skill_education.csv")

In [ ]:
def impute_and_scaled_model():
    from sklearn.model_selection import KFold
    from catboost import CatBoostClassifier
    import lightgbm as lgb
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.metrics import f1_score, roc_auc_score, average_precision_score, recall_score, precision_score, accuracy_score
    import re

    

    train = pd.read_csv("./train_user_lang_work_skill.csv")



    X_train_user_id = train["user_id"]

    y = train["moved_after_2019"]
    X = train.drop(columns=["moved_after_2019", "user_id"])
    X = X.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))

    auc_errs = []
    ap_errs = []
    prec_errs = []
    recall_errs = []
    f1_errs = []
    acc_scores = []

    models = []

    kf = KFold(n_splits=10)

    for split_train, split_val in list(kf.split(X)):
        
        split_train = X.index[split_train]
        split_val = X.index[split_val]
        
        X_train, y_train = X.loc[split_train], y.loc[split_train]
        X_val, y_val = X.loc[split_val], y.loc[split_val]
        print("Train shape:", X_train.shape, "|", "Val Shape:", X_val.shape)
        print("Positive Count in Val Split:", y_val.sum())

        model = lgb.LGBMClassifier()
        

        model.fit(X_train, y_train, eval_metric = 'accuracy',
                    eval_set = [(X_val, y_val), (X_train, y_train)],
                    eval_names = ['valid', 'train'],
                    early_stopping_rounds = 100, verbose = 200)
        
        preds = model.predict(X_val)
        pred_probas = model.predict_proba(X_val)[:,1]

        print("Positive Count in Predictions:", preds.sum())
        
        acc = accuracy_score(y_val, preds)
        print("Accuracy: ", acc)
        acc_scores.append(acc)
        
        f1_err = f1_score(y_val, preds)
        print("Fold F1: ", f1_err)
        f1_errs.append(f1_err)

        prec_err = precision_score(y_val, preds)
        print("Fold Precision: ", prec_err)
        prec_errs.append(prec_err)

        recall_err = recall_score(y_val, preds)
        print("Fold Recall: ", recall_err)
        recall_errs.append(recall_err)
        
        auc_err = roc_auc_score(y_val, pred_probas)
        print("Fold AUC: ", auc_err)
        auc_errs.append(auc_err)

        ap_err = average_precision_score(y_val, pred_probas)
        print("Fold AP: ", ap_err)
        ap_errs.append(ap_err)
        
        models.append(model)
        
        print("\n", "*"*70, "\n")

    import plotly.express as px
    importance = [model.feature_importances_ for model in models]

    f_importance = pd.concat([pd.Series(X.columns.to_list(),name='Feature'),
                            pd.Series(np.mean(importance,axis=0),name="Importance")],
                            axis=1).sort_values(by='Importance',
                                                ascending=True)

    fig = px.bar(f_importance.tail(20),x='Importance',y='Feature')
    fig.update_layout(
        title_text="First 20 Important Features - CatBoost Average of Folds"
    )
    fig.show()

    return models

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import xgboost
import lightgbm as lgb

In [5]:
train.shape

(53019, 346)

In [8]:
data1 = train.drop(columns=["user_id", "moved_after_2019"])
data2 = test.drop(columns="user_id")

In [11]:
imp_mean = IterativeImputer(
    estimator=xgboost.XGBRegressor(
        n_estimators=5,
        random_state=1,
        tree_method='gpu_hist',
    ),
    missing_values=np.nan,
    max_iter=5,
    initial_strategy='mean',
    imputation_order='ascending',
    verbose=2,
    random_state=1
)
imp_mean.fit(data1)
imp_mean_train = imp_mean.transform(data1)
imp_mean_test = imp_mean.transform(data2)

[IterativeImputer] Completing matrix with shape (53019, 344)
[IterativeImputer] Ending imputation round 1/5, elapsed time 338.92
[IterativeImputer] Change: 74.21400869475927, scaled tolerance: 0.729
[IterativeImputer] Ending imputation round 2/5, elapsed time 707.93
[IterativeImputer] Change: 38.85702480375767, scaled tolerance: 0.729
[IterativeImputer] Ending imputation round 3/5, elapsed time 1069.07
[IterativeImputer] Change: 7.567001298069954, scaled tolerance: 0.729
[IterativeImputer] Ending imputation round 4/5, elapsed time 1405.20
[IterativeImputer] Change: 9.054042220115662, scaled tolerance: 0.729
[IterativeImputer] Ending imputation round 5/5, elapsed time 1763.23
[IterativeImputer] Change: 4.778707787394524, scaled tolerance: 0.729

c:\Users\Furka\anaconda3\lib\site-packages\sklearn\impute\_iterative.py:701: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  ConvergenceWarning,

[IterativeImputer] Completing matrix with shape (53019, 344)
[IterativeImputer] Ending imputation round 1/5, elapsed time 48.33
[IterativeImputer] Ending imputation round 2/5, elapsed time 75.88
[IterativeImputer] Ending imputation round 3/5, elapsed time 100.71
[IterativeImputer] Ending imputation round 4/5, elapsed time 130.76
[IterativeImputer] Ending imputation round 5/5, elapsed time 157.02
[IterativeImputer] Completing matrix with shape (13255, 344)
[IterativeImputer] Ending imputation round 1/5, elapsed time 9.40
[IterativeImputer] Ending imputation round 2/5, elapsed time 18.69
[IterativeImputer] Ending imputation round 3/5, elapsed time 30.36
[IterativeImputer] Ending imputation round 4/5, elapsed time 41.21
[IterativeImputer] Ending imputation round 5/5, elapsed time 50.52

In [16]:
check_df(data1)

**********************************************************************
******************************* Shape ********************************
**********************************************************************
(53019, 344)
**********************************************************************
******************************* Types ********************************
**********************************************************************
industry_-1                           int64
industry_Accounting                   int64
industry_Airlines/Aviation            int64
industry_Apparel & Fashion            int64
industry_Architecture & Planning      int64
                                     ...
school_name_count_norm              float64
degree_count                        float64
degree_count_norm                   float64
fields_of_study_count               float64
fields_of_study_count_norm          float64
Length: 344, dtype: object
**********************************************************************
******************************** Head ********************************
**********************************************************************
   industry_-1  industry_Accounting  industry_Airlines/Aviation  \
0            0                    0                           0
1            0                    0                           0
2            0                    0                           0
3            0                    0                           0
4            0                    0                           0

   industry_Apparel & Fashion  industry_Architecture & Planning  \
0                           0                                 0
1                           0                                 0
2                           0                                 0
3                           0                                 0
4                           0                                 0

   industry_Automotive  industry_Aviation & Aerospace  industry_Banking  \
0                    0                              0                 0
1                    0                              0                 0
2                    0                              0                 0
3                    0                              0                 0
4                    0                              0                 1

   industry_Biotechnology  industry_Broadcast Media  ...  company_id_count  \
0                       0                         0  ...          2.945804
1                       0                         0  ...          3.090652
2                       0                         0  ...          0.625000
3                       0                         0  ...          1.825863
4                       0                         0  ...          1.132618

   company_id_count_norm  skill_count  skill_count_norm  school_name_count  \
0               0.736451     8.396971          0.365086           0.834533
1               0.515109    19.977311          0.407700           0.437930
2               0.156250     8.619874          0.410470           0.752864
3               0.456466     9.867496          0.328917           1.250350
4               0.377539    19.166329          0.399299           0.762746

   school_name_count_norm  degree_count  degree_count_norm  \
0                0.417267           4.0                2.0
1                0.437930           2.0                2.0
2                0.376432           5.0                2.5
3                0.416783           6.0                3.0
4                0.381373           0.0                NaN

   fields_of_study_count  fields_of_study_count_norm
0               0.807414                    0.403707
1               0.403675                    0.403675
2               0.787145                    0.393573
3               1.300354                    0.433451
4               0.810272                    0.405136

[5 rows x 344 columns]
**********************************************************************
******************************** Tail ********************************
**********************************************************************
       industry_-1  industry_Accounting  industry_Airlines/Aviation  \
53014            0                    0                           0
53015            0                    0                           0
53016            0                    0                           0
53017            0                    0                           0
53018            0                    0                           0

       industry_Apparel & Fashion  industry_Architecture & Planning  \
53014                           0                                 0
53015                           0                                 0
53016                           0                                 0
53017                           0                                 0
53018                           0                                 0

       industry_Automotive  industry_Aviation & Aerospace  industry_Banking  \
53014                    0                              0                 0
53015                    0                              0                 0
53016                    0                              0                 0
53017                    0                              0                 0
53018                    0                              0                 0

       industry_Biotechnology  industry_Broadcast Media  ...  \
53014                       0                         0  ...
53015                       0                         0  ...
53016                       0                         0  ...
53017                       0                         0  ...
53018                       0                         0  ...

       company_id_count  company_id_count_norm  skill_count  skill_count_norm  \
53014          0.957652               0.319217    11.960118          0.460005
53015          1.233258               0.411086     0.250454          0.250454
53016          0.942201               0.314067     9.290658          0.442412
53017          3.069431               0.613886    21.554118          0.439880
53018               NaN                    NaN     5.369939          0.447495

       school_name_count  school_name_count_norm  degree_count  \
53014           0.383582                0.383582           3.0
53015           1.224764                0.408255          10.0
53016           0.765625                0.382812           6.0
53017           1.582873                0.395718          10.0
53018           0.833731                0.416865           3.0

       degree_count_norm  fields_of_study_count  fields_of_study_count_norm
53014           3.000000               0.369105                    0.369105
53015           3.333333               1.141327                    0.380442
53016           3.000000               0.787082                    0.393541
53017           2.500000               2.244048                    0.561012
53018           1.500000               0.711969                    0.355984

[5 rows x 344 columns]
**********************************************************************
********************************* NA *********************************
**********************************************************************
                                         Total Missing Values  Ratio
profiency_proficiency_count                             23158  43.68
language_ingilizce_count_norm                           23158  43.68
profiency_proficiency_min                               23158  43.68
profiency_proficiency_sum                               23158  43.68
language_albanian_count                                 23158  43.68
...                                                       ...    ...
work_location_united kingdom_count_norm                  6466  12.20
work_location_united states_count                        6466  12.20
work_location_united states_count_norm                   6466  12.20
company_id_count                                         6466  12.20
user_changed_work_count_min                              6466  12.20

[145 rows x 2 columns]
**********************************************************************
***************************** Quantiles ******************************
**********************************************************************
                                    count      mean       std  min        1%  \
industry_-1                       53019.0  0.001396  0.037334  0.0  0.000000
industry_Accounting               53019.0  0.000754  0.027457  0.0  0.000000
industry_Airlines/Aviation        53019.0  0.006733  0.081782  0.0  0.000000
industry_Apparel & Fashion        53019.0  0.001264  0.035526  0.0  0.000000
industry_Architecture & Planning  53019.0  0.001151  0.033900  0.0  0.000000
...                                   ...       ...       ...  ...       ...
school_name_count_norm            53019.0  0.392046  0.063886  0.0  0.191791
degree_count                      53019.0  4.567476  3.417279  0.0  0.000000
degree_count_norm                 46080.0  2.851488  0.687049  0.0  1.000000
fields_of_study_count             53019.0  0.843283  0.499353  0.0  0.263725
fields_of_study_count_norm        53019.0  0.391899  0.074448  0.0  0.134470

                                        5%       10%       50%       90%  \
industry_-1                       0.000000  0.000000  0.000000  0.000000
industry_Accounting               0.000000  0.000000  0.000000  0.000000
industry_Airlines/Aviation        0.000000  0.000000  0.000000  0.000000
industry_Apparel & Fashion        0.000000  0.000000  0.000000  0.000000
industry_Architecture & Planning  0.000000  0.000000  0.000000  0.000000
...                                    ...       ...       ...       ...
school_name_count_norm            0.300190  0.365854  0.390251  0.416865
degree_count                      0.000000  0.000000  3.000000  9.000000
degree_count_norm                 1.500000  2.000000  3.000000  3.500000
fields_of_study_count             0.384297  0.391145  0.787973  1.465078
fields_of_study_count_norm        0.273931  0.360211  0.397344  0.408588

                                        95%        99%        max
industry_-1                        0.000000   0.000000   1.000000
industry_Accounting                0.000000   0.000000   1.000000
industry_Airlines/Aviation         0.000000   0.000000   1.000000
industry_Apparel & Fashion         0.000000   0.000000   1.000000
industry_Architecture & Planning   0.000000   0.000000   1.000000
...                                     ...        ...        ...
school_name_count_norm             0.448925   0.691309   1.000000
degree_count                      11.000000  15.000000  31.000000
degree_count_norm                  4.000000   4.000000   5.000000
fields_of_study_count              1.627381   2.575867   9.443083
fields_of_study_count_norm         0.447940   0.695561   1.000000

[344 rows x 12 columns]
**********************************************************************
*************************** Duplicate Rows ***************************
**********************************************************************
13370
**********************************************************************
****************************** Uniques *******************************
**********************************************************************
industry_-1                            2
industry_Accounting                    2
industry_Airlines/Aviation             2
industry_Apparel & Fashion             2
industry_Architecture & Planning       2
                                    ...
school_name_count_norm              9002
degree_count                          27
degree_count_norm                     58
fields_of_study_count               5893
fields_of_study_count_norm          6193
Length: 344, dtype: int64

In [23]:
df_iter_imputed_train = pd.DataFrame(imp_mean_train, columns=data1.columns)

In [24]:
check_df(df_iter_imputed_train)

**********************************************************************
******************************* Shape ********************************
**********************************************************************
(53019, 344)
**********************************************************************
******************************* Types ********************************
**********************************************************************
industry_-1                         float64
industry_Accounting                 float64
industry_Airlines/Aviation          float64
industry_Apparel & Fashion          float64
industry_Architecture & Planning    float64
                                     ...
school_name_count_norm              float64
degree_count                        float64
degree_count_norm                   float64
fields_of_study_count               float64
fields_of_study_count_norm          float64
Length: 344, dtype: object
**********************************************************************
******************************** Head ********************************
**********************************************************************
   industry_-1  industry_Accounting  industry_Airlines/Aviation  \
0          0.0                  0.0                         0.0
1          0.0                  0.0                         0.0
2          0.0                  0.0                         0.0
3          0.0                  0.0                         0.0
4          0.0                  0.0                         0.0

   industry_Apparel & Fashion  industry_Architecture & Planning  \
0                         0.0                               0.0
1                         0.0                               0.0
2                         0.0                               0.0
3                         0.0                               0.0
4                         0.0                               0.0

   industry_Automotive  industry_Aviation & Aerospace  industry_Banking  \
0                  0.0                            0.0               0.0
1                  0.0                            0.0               0.0
2                  0.0                            0.0               0.0
3                  0.0                            0.0               0.0
4                  0.0                            0.0               1.0

   industry_Biotechnology  industry_Broadcast Media  ...  company_id_count  \
0                     0.0                       0.0  ...          2.945804
1                     0.0                       0.0  ...          3.090652
2                     0.0                       0.0  ...          0.625000
3                     0.0                       0.0  ...          1.825863
4                     0.0                       0.0  ...          1.132618

   company_id_count_norm  skill_count  skill_count_norm  school_name_count  \
0               0.736451     8.396971          0.365086           0.834533
1               0.515109    19.977311          0.407700           0.437930
2               0.156250     8.619874          0.410470           0.752864
3               0.456466     9.867496          0.328917           1.250350
4               0.377539    19.166329          0.399299           0.762746

   school_name_count_norm  degree_count  degree_count_norm  \
0                0.417267           4.0           2.000000
1                0.437930           2.0           2.000000
2                0.376432           5.0           2.500000
3                0.416783           6.0           3.000000
4                0.381373           0.0           0.085146

   fields_of_study_count  fields_of_study_count_norm
0               0.807414                    0.403707
1               0.403675                    0.403675
2               0.787145                    0.393573
3               1.300354                    0.433451
4               0.810272                    0.405136

[5 rows x 344 columns]
**********************************************************************
******************************** Tail ********************************
**********************************************************************
       industry_-1  industry_Accounting  industry_Airlines/Aviation  \
53014          0.0                  0.0                         0.0
53015          0.0                  0.0                         0.0
53016          0.0                  0.0                         0.0
53017          0.0                  0.0                         0.0
53018          0.0                  0.0                         0.0

       industry_Apparel & Fashion  industry_Architecture & Planning  \
53014                         0.0                               0.0
53015                         0.0                               0.0
53016                         0.0                               0.0
53017                         0.0                               0.0
53018                         0.0                               0.0

       industry_Automotive  industry_Aviation & Aerospace  industry_Banking  \
53014                  0.0                            0.0               0.0
53015                  0.0                            0.0               0.0
53016                  0.0                            0.0               0.0
53017                  0.0                            0.0               0.0
53018                  0.0                            0.0               0.0

       industry_Biotechnology  industry_Broadcast Media  ...  \
53014                     0.0                       0.0  ...
53015                     0.0                       0.0  ...
53016                     0.0                       0.0  ...
53017                     0.0                       0.0  ...
53018                     0.0                       0.0  ...

       company_id_count  company_id_count_norm  skill_count  skill_count_norm  \
53014          0.957652               0.319217    11.960118          0.460005
53015          1.233258               0.411086     0.250454          0.250454
53016          0.942201               0.314067     9.290658          0.442412
53017          3.069431               0.613886    21.554118          0.439880
53018          0.485090               0.491919     5.369939          0.447495

       school_name_count  school_name_count_norm  degree_count  \
53014           0.383582                0.383582           3.0
53015           1.224764                0.408255          10.0
53016           0.765625                0.382812           6.0
53017           1.582873                0.395718          10.0
53018           0.833731                0.416865           3.0

       degree_count_norm  fields_of_study_count  fields_of_study_count_norm
53014           3.000000               0.369105                    0.369105
53015           3.333333               1.141327                    0.380442
53016           3.000000               0.787082                    0.393541
53017           2.500000               2.244048                    0.561012
53018           1.500000               0.711969                    0.355984

[5 rows x 344 columns]
**********************************************************************
********************************* NA *********************************
**********************************************************************
Empty DataFrame
Columns: [Total Missing Values, Ratio]
Index: []
**********************************************************************
***************************** Quantiles ******************************
**********************************************************************
                                    count      mean       std  min        1%  \
industry_-1                       53019.0  0.001396  0.037334  0.0  0.000000
industry_Accounting               53019.0  0.000754  0.027457  0.0  0.000000
industry_Airlines/Aviation        53019.0  0.006733  0.081782  0.0  0.000000
industry_Apparel & Fashion        53019.0  0.001264  0.035526  0.0  0.000000
industry_Architecture & Planning  53019.0  0.001151  0.033900  0.0  0.000000
...                                   ...       ...       ...  ...       ...
school_name_count_norm            53019.0  0.392046  0.063886  0.0  0.191791
degree_count                      53019.0  4.567476  3.417279  0.0  0.000000
degree_count_norm                 53019.0  2.489436  1.131703  0.0  0.085146
fields_of_study_count             53019.0  0.843283  0.499353  0.0  0.263725
fields_of_study_count_norm        53019.0  0.391899  0.074448  0.0  0.134470

                                        5%       10%       50%       90%  \
industry_-1                       0.000000  0.000000  0.000000  0.000000
industry_Accounting               0.000000  0.000000  0.000000  0.000000
industry_Airlines/Aviation        0.000000  0.000000  0.000000  0.000000
industry_Apparel & Fashion        0.000000  0.000000  0.000000  0.000000
industry_Architecture & Planning  0.000000  0.000000  0.000000  0.000000
...                                    ...       ...       ...       ...
school_name_count_norm            0.300190  0.365854  0.390251  0.416865
degree_count                      0.000000  0.000000  3.000000  9.000000
degree_count_norm                 0.085146  0.085146  3.000000  3.500000
fields_of_study_count             0.384297  0.391145  0.787973  1.465078
fields_of_study_count_norm        0.273931  0.360211  0.397344  0.408588

                                        95%        99%        max
industry_-1                        0.000000   0.000000   1.000000
industry_Accounting                0.000000   0.000000   1.000000
industry_Airlines/Aviation         0.000000   0.000000   1.000000
industry_Apparel & Fashion         0.000000   0.000000   1.000000
industry_Architecture & Planning   0.000000   0.000000   1.000000
...                                     ...        ...        ...
school_name_count_norm             0.448925   0.691309   1.000000
degree_count                      11.000000  15.000000  31.000000
degree_count_norm                  4.000000   4.000000   5.000000
fields_of_study_count              1.627381   2.575867   9.443083
fields_of_study_count_norm         0.447940   0.695561   1.000000

[344 rows x 12 columns]
**********************************************************************
*************************** Duplicate Rows ***************************
**********************************************************************
13370
**********************************************************************
****************************** Uniques *******************************
**********************************************************************
industry_-1                            2
industry_Accounting                    2
industry_Airlines/Aviation             2
industry_Apparel & Fashion             2
industry_Architecture & Planning       2
                                    ...
school_name_count_norm              9002
degree_count                          27
degree_count_norm                     59
fields_of_study_count               5893
fields_of_study_count_norm          6193
Length: 344, dtype: int64

In [25]:
df_iter_imputed_test = pd.DataFrame(imp_mean_test, columns=data2.columns)

In [26]:
check_df(df_iter_imputed_test)

**********************************************************************
******************************* Shape ********************************
**********************************************************************
(13255, 344)
**********************************************************************
******************************* Types ********************************
**********************************************************************
industry_-1                         float64
industry_Accounting                 float64
industry_Airlines/Aviation          float64
industry_Apparel & Fashion          float64
industry_Architecture & Planning    float64
                                     ...
school_name_count_norm              float64
degree_count                        float64
degree_count_norm                   float64
fields_of_study_count               float64
fields_of_study_count_norm          float64
Length: 344, dtype: object
**********************************************************************
******************************** Head ********************************
**********************************************************************
   industry_-1  industry_Accounting  industry_Airlines/Aviation  \
0          0.0                  0.0                         0.0
1          0.0                  0.0                         0.0
2          0.0                  0.0                         0.0
3          0.0                  0.0                         0.0
4          0.0                  0.0                         0.0

   industry_Apparel & Fashion  industry_Architecture & Planning  \
0                         0.0                               0.0
1                         0.0                               0.0
2                         0.0                               0.0
3                         0.0                               0.0
4                         0.0                               0.0

   industry_Automotive  industry_Aviation & Aerospace  industry_Banking  \
0                  0.0                            0.0               0.0
1                  0.0                            0.0               0.0
2                  1.0                            0.0               0.0
3                  0.0                            0.0               0.0
4                  0.0                            0.0               0.0

   industry_Biotechnology  industry_Broadcast Media  ...  company_id_count  \
0                     0.0                       0.0  ...          0.594286
1                     0.0                       0.0  ...          0.456466
2                     0.0                       0.0  ...          0.485090
3                     0.0                       0.0  ...          1.190476
4                     0.0                       0.0  ...          0.500000

   company_id_count_norm  skill_count  skill_count_norm  school_name_count  \
0               0.198095    12.851840          0.377995           1.931471
1               0.456466    12.307292          0.397009           2.147059
2               0.491919     5.580050          0.429235           0.406067
3               0.595238    15.057131          0.406949           0.769306
4               0.500000     2.249716          0.562429           0.807451

   school_name_count_norm  degree_count  degree_count_norm  \
0                0.321912           7.0           3.500000
1                0.536765          11.0           2.750000
2                0.406067           3.0           3.000000
3                0.384653           2.0           2.000000
4                0.403725           0.0           0.085146

   fields_of_study_count  fields_of_study_count_norm
0               2.286564                    0.381094
1               2.076394                    0.519098
2               0.365078                    0.365078
3               0.768753                    0.384377
4               0.797933                    0.398967

[5 rows x 344 columns]
**********************************************************************
******************************** Tail ********************************
**********************************************************************
       industry_-1  industry_Accounting  industry_Airlines/Aviation  \
13250          0.0                  0.0                         0.0
13251          0.0                  0.0                         0.0
13252          0.0                  0.0                         0.0
13253          0.0                  0.0                         0.0
13254          0.0                  0.0                         0.0

       industry_Apparel & Fashion  industry_Architecture & Planning  \
13250                         0.0                               0.0
13251                         0.0                               0.0
13252                         0.0                               0.0
13253                         0.0                               0.0
13254                         0.0                               0.0

       industry_Automotive  industry_Aviation & Aerospace  industry_Banking  \
13250                  0.0                            0.0               0.0
13251                  0.0                            0.0               0.0
13252                  0.0                            0.0               0.0
13253                  0.0                            0.0               0.0
13254                  1.0                            0.0               0.0

       industry_Biotechnology  industry_Broadcast Media  ...  \
13250                     0.0                       0.0  ...
13251                     0.0                       0.0  ...
13252                     0.0                       0.0  ...
13253                     0.0                       0.0  ...
13254                     0.0                       0.0  ...

       company_id_count  company_id_count_norm  skill_count  skill_count_norm  \
13250          0.500000               0.500000     2.552484          0.425414
13251          1.391461               0.463820     1.569266          0.392317
13252          1.421280               0.710640     2.182783          0.436557
13253          1.415088               0.471696     6.938123          0.433633
13254          2.847423               0.474571     9.406662          0.408985

       school_name_count  school_name_count_norm  degree_count  \
13250           0.388179                0.388179           0.0
13251           1.121417                0.373806           7.0
13252           1.283166                0.427722           7.0
13253           0.382617                0.382617           3.0
13254           0.791112                0.395556           3.0

       degree_count_norm  fields_of_study_count  fields_of_study_count_norm
13250           0.085146               0.403675                    0.403675
13251           2.333333               1.058410                    0.352803
13252           2.333333               1.183101                    0.394367
13253           3.000000               0.403675                    0.403675
13254           3.000000               0.787973                    0.393986

[5 rows x 344 columns]
**********************************************************************
********************************* NA *********************************
**********************************************************************
Empty DataFrame
Columns: [Total Missing Values, Ratio]
Index: []
**********************************************************************
***************************** Quantiles ******************************
**********************************************************************
                                    count      mean       std  min        1%  \
industry_-1                       13255.0  0.001132  0.033622  0.0  0.000000
industry_Accounting               13255.0  0.000528  0.022975  0.0  0.000000
industry_Airlines/Aviation        13255.0  0.007243  0.084798  0.0  0.000000
industry_Apparel & Fashion        13255.0  0.001358  0.036827  0.0  0.000000
industry_Architecture & Planning  13255.0  0.001660  0.040708  0.0  0.000000
...                                   ...       ...       ...  ...       ...
school_name_count_norm            13255.0  0.392255  0.052670  0.0  0.198490
degree_count                      13255.0  4.599623  3.387505  0.0  0.000000
degree_count_norm                 13255.0  2.509135  1.111474  0.0  0.085146
fields_of_study_count             13255.0  0.845780  0.489320  0.0  0.295262
fields_of_study_count_norm        13255.0  0.392947  0.066107  0.0  0.157379

                                        5%       10%       50%       90%  \
industry_-1                       0.000000  0.000000  0.000000  0.000000
industry_Accounting               0.000000  0.000000  0.000000  0.000000
industry_Airlines/Aviation        0.000000  0.000000  0.000000  0.000000
industry_Apparel & Fashion        0.000000  0.000000  0.000000  0.000000
industry_Architecture & Planning  0.000000  0.000000  0.000000  0.000000
...                                    ...       ...       ...       ...
school_name_count_norm            0.346192  0.369765  0.390251  0.413553
degree_count                      0.000000  0.000000  3.000000  9.000000
degree_count_norm                 0.085146  0.085146  3.000000  3.500000
fields_of_study_count             0.384297  0.399402  0.787973  1.483140
fields_of_study_count_norm        0.314402  0.367108  0.397344  0.408335

                                        95%        99%        max
industry_-1                        0.000000   0.000000   1.000000
industry_Accounting                0.000000   0.000000   1.000000
industry_Airlines/Aviation         0.000000   0.000000   1.000000
industry_Apparel & Fashion         0.000000   0.000000   1.000000
industry_Architecture & Planning   0.000000   0.000000   1.000000
...                                     ...        ...        ...
school_name_count_norm             0.433622   0.607542   1.000000
degree_count                      11.000000  15.460000  25.000000
degree_count_norm                  3.800000   4.000000   5.000000
fields_of_study_count              1.618467   2.531728   7.357311
fields_of_study_count_norm         0.437831   0.624117   1.000000

[344 rows x 12 columns]
**********************************************************************
*************************** Duplicate Rows ***************************
**********************************************************************
1406
**********************************************************************
****************************** Uniques *******************************
**********************************************************************
industry_-1                            2
industry_Accounting                    2
industry_Airlines/Aviation             2
industry_Apparel & Fashion             2
industry_Architecture & Planning       2
                                    ...
school_name_count_norm              3816
degree_count                          25
degree_count_norm                     50
fields_of_study_count               2775
fields_of_study_count_norm          2840
Length: 344, dtype: int64

In [27]:
df_iter_imputed_train.head()

,industry_-1,industry_Accounting,industry_Airlines/Aviation,industry_Apparel & Fashion,industry_Architecture & Planning,industry_Automotive,industry_Aviation & Aerospace,industry_Banking,industry_Biotechnology,industry_Broadcast Media,...,company_id_count,company_id_count_norm,skill_count,skill_count_norm,school_name_count,school_name_count_norm,degree_count,degree_count_norm,fields_of_study_count,fields_of_study_count_norm
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.945804,0.736451,8.396971,0.365086,0.834533,0.417267,4.0,2.000000,0.807414,0.403707
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.090652,0.515109,19.977311,0.407700,0.437930,0.437930,2.0,2.000000,0.403675,0.403675
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.625000,0.156250,8.619874,0.410470,0.752864,0.376432,5.0,2.500000,0.787145,0.393573
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.825863,0.456466,9.867496,0.328917,1.250350,0.416783,6.0,3.000000,1.300354,0.433451
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.132618,0.377539,19.166329,0.399299,0.762746,0.381373,0.0,0.085146,0.810272,0.405136

In [31]:
df_iter_imputed_test.shape

(13255, 344)

In [33]:
type(df_iter_imputed_train)

pandas.core.frame.DataFrame

In [35]:
df_iter_imputed_train.to_csv("imputed_train.csv", index=False)
df_iter_imputed_test.to_csv("imputed_test.csv", index=False)

In [30]:
data2.columns

Index(['industry_-1', 'industry_Accounting', 'industry_Airlines/Aviation',
       'industry_Apparel & Fashion', 'industry_Architecture & Planning',
       'industry_Automotive', 'industry_Aviation & Aerospace',
       'industry_Banking', 'industry_Biotechnology',
       'industry_Broadcast Media',
       ...
       'company_id_count', 'company_id_count_norm', 'skill_count',
       'skill_count_norm', 'school_name_count', 'school_name_count_norm',
       'degree_count', 'degree_count_norm', 'fields_of_study_count',
       'fields_of_study_count_norm'],
      dtype='object', length=344)

In [17]:
imp_mean_train.shape

(53019, 344)

In [18]:
imp_mean_test.shape

(13255, 344)

In [19]:
type(imp_mean_test)

numpy.ndarray